# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
simplefs_test
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
shell
result

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

#tests
disk
testcp

# KDE/vscode/intellij
*.kdev*
.directory
.vscode
.idea/

# MAC DI MEDDA
.DS_Store

#CMAKE
cmake-build*/